<!--<div class="container">-->
<!--  <img src="backgroundphoto.jpg" style="width:100%;">-->
<!--  <div class="centered">Centered</div>-->
<!--</div>-->


<!--<div class="container"> -->
<!--  <img class="imagemodif" src="backgroundphoto.jpg">
  <div class="centered">Centered</div> -->
<!-- </div> -->

<!--<div>-->
<!--  <img class="imagemodif" src="backgroundphoto.jpg">-->
<!--  <div class="container-fluid entete">-->
<!--    <h1>Bienvenue sur mon-rdv</h1>-->
<!--  </div>-->
<!--</div>-->

<div id="imagefond">
</div>
<div class="container-fluid entete">
  <h1>Mon-rdv</h1>
</div>
<div class="container-fluid" style="position: absolute; top: 30%;">
  <router-outlet></router-outlet>
</div>


